* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #fefefe;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}

header .container {
  justify-content: space-between;
}

.dark-theme {
  background-color: #1f2e35;
}
.dark-theme * {
  background: #1f2e35;
  color: #fff;
}
.dark-theme .sing-in {
  background: #1f2e35;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.hamburger {
  display: none;
}
.hamburger .line {
  background: #173a56;
}
.navbar ul {
  display: flex;
}
.navbar {
  display: flex;
}
.navbar ul li a {
  display: block;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.navbar ul li a.active {
  color: #11101b;
  background: #fefefe;
}
.sing-in {
  width: 110px;
  border: 1px solid #bcd0e5;
  height: 43px;
  background: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  margin: 0px 0px 0px 24px;
}
.sing-up {
  background: #02897a;
  border: 1px solid #02897a;
  width: 110px;
  height: 43px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0px 0px 0px 24px;
}
.logo-dark {
  width: 24px;
  height: 24px;
  margin: 10px 8px 12px 12px;
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1035px) {
  .container .navbar.active {
    height: 450px;
    background: #1f2e35;
  }
  
  .dark-theme .hamburger {
    background: #1f2e35;
    color: #fff;
  }
  .sing-in {
    display: block;
    position: absolute;
    margin: 20px 24px;
  }
  .sing-up {
    display: block;
    position: absolute;
    margin: 20px 155px;
  }
  .logo-dark {
    display: block;
    position: absolute;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
  }
  .navbar {
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    top: 0;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
  }
  .navbar.active {
    height: 450px;
    background: #fff;
  }
  .navbar ul {
    display: block;
    width: fit-content;
    margin: 80px auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 5;
  }
  .navbar ul li a {
    margin-bottom: 12px;
  }
}
/* HEADER */
.section-st {
  display: flex;
  justify-content: center;
}
.work-img {
  max-width: 160px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-w {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.work-tools {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 18px 0 45px 0;
}
.get {
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 175px;
  height: 53px;
  color: #fff;
}
.work-img {
  border: 0px;
  background-color: #fff;
  width: 161px;
  height: 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897a;
}
.watch {
  margin-left: 170px;
}
.content p {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}
.click-content {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 30px 0 13px 0;
  max-width: 240px;
}
.cilck-item {
  font-size: 16px;
  margin-left: 46px;
}
.card {
  margin: 64px 0 36px 0;
}

.cilck {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 175px;
  height: 53px;
  display: flex;
  justify-content: center;
  background: #02897a;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #02897a;
}
.bulit-btn {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
}
.built {
  background-image: url(images/background.png);
  padding-bottom: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
/* Management */
.management__main {
  display: flex;
  justify-content: space-between;
}
.management__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.management__header {
  margin: 19px 0 8px 0;
}
.list__item__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}
.list__item__content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  margin: 12px 0;
}
/* SUPPORT */
.support__wrapper{
  display: flex;
}
.support__main__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  padding: 36px 0 8px 0;
}
.support__img{
  padding-right: 94px;
}
.support__list__item{
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  max-width: 385px;
  min-width: 265px;
  padding: 15px 0;
}
.support__list__item img{
  margin-right: 30px;
}
.support__main__content{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  padding: 23px 0 15px 0;
  max-width: 486px;
}
.support__content h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000;
}
/* Collaborative */
.collaborative__main{
  display: flex;
  justify-content: space-between;
}
.words{
  max-width: 486px;
  padding: 18px 0;
}
.collaborative__list__bolt{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
.collaborative__list__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
.collaborative__text h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 23px;
}
.collaborative__list__item{
  margin-top: 25px;
}
.collaborative__text{
  margin-bottom: 5px;
}
.collaborative__text .collaborative__list__bolt{
  margin-bottom: 8px;
}
.collaborative__list__item .collaborative__list__bolt{
  margin-bottom: 12px;
}
/* USERS*/
.users{
  background-image: url(./images/users__bg.png);
  padding-bottom: 90px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 170px;
}
.users__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.users__card{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 542px;
}
.users__person{
  max-width: 705px;
  display: flex;
  justify-content: space-between;
}
.users__person img{
  border-radius: 50%;
}
.users__list__left{
  margin-right: 191px;
  display: flex;
  flex-direction: column;
}
.users__list__right{
  display: flex;
  flex-direction: column;
}
.users__list__left .users__item1{
  display: flex;
  align-items: center;
  max-width: 377px;
}
.users__list__left .users__item2{
  display: flex;
  align-items: center;
  max-width: 377px;
  flex-direction: row-reverse;
}
.users__list__right .users__item3{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 377px;
}
.users__list__right .users__item4{
  display: flex;
  align-items: center;
  max-width: 377px;
}
.users__person p {
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
/* .users__person p::after{
  background-color: #fff;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
} */
.users__btn{
  display: flex;
  justify-content: center;
}
.contract{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: #02897A;
  border-radius: 4px;
  border: 1px solid #02897A;
  color: #fff;
  margin-top: 48px;
  padding: 15px 30px;
}
/* STRATEGIES */
.strategies__header{
  margin-bottom: 33px;
}
.strategies__header h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 8px;
}
.strategies__header p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
.strategies__body{
  display: flex;
}
.strategies__card{
  display: flex;
  flex-direction: column;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #fff ;
}
.strategies__card__center{
  display: flex;
  flex-direction: column;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  margin: 0 31px;
  background-color: #fff;
}
.strategies__card img{
  width: 348px;
  height: 185px;
}
.strategies__card__item{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  max-width: 294px;
  line-height: 40px;
  color: #02897A;
  margin: 12px 30px 40px 24px;  
}
.strategies__card__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  margin: 23px 90px 0 24px;
}
/* PRICE */
.price{
  margin-top: 230px;
}
.price__text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.price__text h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}
.price__text p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin: 8px 0 50px 0;
}
.price__cards{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.price__order{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 73px 34px 73px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.price__strong{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin: 24px 0 8px 0;
  color: #22343D;
}
.price__desciription{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343D;
}
.price__money{
  margin: 16px 0 8px 0;
}
.price__item{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343D;
  margin: 8px 0;
}
.price__btn{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 8px;
  padding: 11px 19px;
  margin: 30px 0 32px 0;
  border: 1px solid #22343D;
}
/* CLIENTS */
.clients{
  margin-top: 150px;
}
.clients__header{
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
}  
.clients__header h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343D;
}
.clients__header p{
  max-width: 537px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
  margin: 8px 0 50px 0;
}
.clients__body{
  display: flex;
  justify-content: space-between;
}
.clients__card{
  max-width: 327px;
  padding: 28px 26px 24px 26px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  justify-content: space-between;
}
.clients__user{
  display: flex;
}
.clients__star__content{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 16px 0;
}
.clients__job{
  margin-left: 14px;
}
.clients__job__work{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.clients__job__name{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897A;
}
.join__main{
  display: flex;
  justify-content: space-between;
  background: #02897A;
  border-radius: 32px;
}
.join__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
}
.join__btn{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: #FFFFFF;
  border-radius: 8px;
  color: #02897A;
  border: 0px;
  margin-top: 48px;
  padding: 13px 35px 7px 33px;
}
.join__content{
  padding: 49px 0 56px 51px;
  max-width: 516px;
}
/* FOOTER */
.footer{
  margin-top: 150px;
}
.footer__main{
  display: flex;
}
.footer__logos{
  margin-right: 162px;
}
.list__first{
  margin-right: 153px;
}
.list__second{
  margin-right: 108px;

}
.logo__apps{
  display: flex;
  margin-top: 25px;
}
.logo__apps img{
  margin: 0 8px;
}
.footer_list_bolt{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}
.footer__list__item{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
}
.footer__comment{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  max-width: 280px;
  line-height: 30px;
  color: #22343D;
}
.footer__input{
  width: 325px;
  height: 48px;
  margin: 34px 0 29px 0;
}
.footer__btn{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 4px;
  padding: 8px 15px 7px 15px;
}
.footer__text{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}